<!-- Inicio de la seccion comidas -->
    <section class="menu-comidas">
        <div class="contenedor">
            <h2 class="texto-centro">Nuestro Menú</h2>
            <div class="menu-comidas-item">
                <div class="img-plato">
                    <img src="imagenes/menu-pizza.jpg" alt="Pizza Hawayana" class="img-responsive">
                </div>
                <div class="desc-plato-menu">
                    <h4>{{nombre1}}</h4>
                    <p class="precio-plato">{{precio1}}</p>
                    <p class="desc-plato">{{desc1}}</p>
                    <br>
                    <a href="#" class="boton boton-color">Ordenar</a>
                </div>                          
            <div class="limpiar"></div>
            </div>
            <div class="menu-comidas-item">
                <div class="img-plato">
                    <img src="imagenes/menu-burger.jpg" alt="Hamburguesa" class="img-responsive">
                </div>
                <div class="desc-plato-menu">
                    <h4>{{nombre2}}</h4>
                    <p class="precio-plato">{{precio2}}</p>
                    <p class="desc-plato">{{desc2}}</p>
                    <br>
                    <a href="#" class="boton boton-color">Ordenar</a>
                </div>                          
            <div class="limpiar"></div>
            </div>
            <div class="menu-comidas-item">
                <div class="img-plato">
                    <img src="imagenes/menu-momo.jpg" alt="Momo" class="img-responsive">
                </div>
                <div class="desc-plato-menu">
                    <h4>{{nombre3}}</h4>
                    <p class="precio-plato">{{precio3}}</p>
                    <p class="desc-plato">{{desc3}}</p>
                    <br>
                    <a href="#" class="boton boton-color">Ordenar</a>
                </div>                          
            <div class="limpiar"></div>
            </div>
            <div class="menu-comidas-item">
                <div class="img-plato">
                    <img src="imagenes/menu-pizza.jpg" alt="Pizza Hawayana" class="img-responsive">
                </div>
                <div class="desc-plato-menu">
                    <h4>{{nombre4}}</h4>
                    <p class="precio-plato">{{precio4}}</p>
                    <p class="desc-plato">{{desc4}}</p>
                    <br>
                    <a href="#" class="boton boton-color">Ordenar</a>
                </div>                          
            <div class="limpiar"></div>
            </div>     
            <div class="menu-comidas-item">
                <div class="img-plato">
                    <img src="imagenes/menu-pizza.jpg" alt="Pizza Hawayana" class="img-responsive">
                </div>
                <div class="desc-plato-menu">
                    <h4>{{nombre5}}</h4>
                    <p class="precio-plato">{{precio5}}</p>
                    <p class="desc-plato">{{desc5}}</p>
                    <br>
                    <a href="#" class="boton boton-color">Ordenar</a>
                </div>                          
            <div class="limpiar"></div>
            </div>  
            <div class="menu-comidas-item">
                <div class="img-plato">
                    <img src="imagenes/menu-pizza.jpg" alt="Pizza Hawayana" class="img-responsive">
                </div>
                <div class="desc-plato-menu">
                    <h4>{{nombre6}}</h4>
                    <p class="precio-plato">{{precio6}}</p>
                    <p class="desc-plato">{{desc6}}</p>
                    <br>
                    <a href="#" class="boton boton-color">Ordenar</a>
                </div>                          
            <div class="limpiar"></div>
            </div>         
            <div class="limpiar"></div>
        </div>
    </section>
    <!-- Fin de la seccion comidas -->